*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    color: whitesmoke;
    text-align: center;
    background-color: black;
}

.fundo {
    height: 100vh;
    background-image: linear-gradient(75deg,black,red);
}

.calculadora{
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

.botao{
    background-color: #333333;
    margin: 2.5px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    border: none;
}
.botao:hover{
    opacity: 0.7;
}

.botao1{
    background-color: #a6a6a6;
    margin: 2.5px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: #333333;
    border-radius: 50px;
    cursor: pointer;
    border: none;
}
.botao1:hover{
    opacity: 0.7;
}
.botao2{
    background-color: #ff9405;
    margin: 2.5px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    border: none;
}
.botao2:hover{
    opacity: 0.7;
}

#resultado{
    width: 207px;
    background-color: black;
    height: 50px;
    margin: 5px;
    font-size: 45px;
    color: white;
    text-align: right;
    padding: 5px;
}